body {
    max-width: 1170px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #b28af8;
    background-image: url(../images/image5.png), url(../images/circle.svg),
        url(../images/image4.svg), url(../images/image7.png);
    background-position: right top 250px, right -100px top,
        right 200px top 200px, left -50px bottom 650px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 800px, 800px, 700px, 400px;
}
html {
    scroll-behavior: smooth;
}
input {
    cursor: pointer;
}
header {
    margin-top: 45px;
    margin-left: 140px;
    display: flex;
    position: fixed;
}
.burger-icon {
    display: none;
}

nav {
    display: flex;
    width: 813px;
}
.google {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
}
.fa-google {
    margin-top: 10px;
    margin-left: 11px;
    font-size: 30px;
    font-weight: bold;
    color: #b28af8;
}
.nav-ul {
    display: flex;
    margin-top: 15px;
}
.nav-li {
    margin-right: 30px;
    margin-left: 30px;
    color: #ffffff;
    font-weight: bold;
}
a {
    color: #ffffff;
}
.input1 {
    width: 174px;
    height: 60px;
    background-color: #c4a3fd;
    color: white;
    padding: 18px 38px;
    font-size: 14px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    margin-left: 250px;
}
.input1:hover {
    cursor: pointer;
}
#contact {
    font-size: 16px;
    color: #ffffff;
    border: none;
    background-color: #c4a3fd;
}
.img1 {
    margin-top: 200px;
    margin-left: 124px;
}
.img3 {
    margin-left: 350px;
}
.text1 {
    width: 540px;
    height: 450px;
    margin-top: 45px;
    margin-left: 140px;
}
p {
    color: #ffffff;
}
.p1 {
    font-size: 50px;
    font-weight: bold;
}
.p2 {
    font-size: 80px;
    font-weight: bold;
    margin-top: 23px;
    margin-bottom: 44px;
}
.p3 {
    font-size: 60px;
    font-weight: bold;
}
.p4 {
    font-size: 20px;
    margin-top: 44px;
    margin-bottom: 40px;
    width: 485px;
    height: 58px;
}
.s1input {
    display: flex;
}
.input2 {
    width: 300px;
    height: 60px;
    background-color: #ffffff;
    margin-right: 20px;
    border-radius: 30px;
    padding: 20px 100px;
}
#portfolio1 {
    font-size: 16px;
    color: #b28af8;
    border: none;
    background-color: #ffffff;
}
.arrow {
    width: 60px;
    height: 60px;
    background-color: #c4a3fd;
    border-radius: 50%;
}
.arrow:hover {
    cursor: pointer;
}
.fa-play {
    margin-top: 16px;
    margin-left: 22px;
    font-size: 25px;
    color: #ffffff;
}
.img2 {
    margin-top: 71px;
    margin-left: 500px;
}
/* section2 */
.s-2 {
    margin-top: 365px;
}
.s2h3 {
    font-size: 20px;
    color: #ffffff;
    margin-left: 600px;
}
.s2h2 {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 61px;
    margin-left: 545px;
}
.text-wrapper {
    display: flex;
    width: 1170px;
    justify-content: space-around;
    margin-left: 150px;
}
.s2-chevron {
    width: 50px;
    height: 50px;
    background-color: #c4a3fd;
    border-radius: 50%;
}
.s2-chevron:hover {
    cursor: pointer;
}
.s2-chevron-right,
.s2-chevron-left {
    color: #ffffff;
    margin-top: 17px;
    margin-left: 17px;
}

/* section3 */
.s-3 {
    margin-top: 180px;
    margin-left: 50px;
}
.text-wrapper2 {
    display: flex;
}
.space {
    width: 80px;
    height: 2px;
    background-color: #ffffff;
    margin-top: 60px;
    margin-right: 50px;
}
.s3h2 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 46px;
}
.s3h3 {
    font-size: 22px;
    color: #ffffff;
    width: 521px;
    height: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.s3p {
    width: 520px;
    height: 60px;
    font-size: 16px;
    color: #ffffff;
    margin-top: 50px;
}
.s3p::first-letter {
    font-size: 20px;
}
.input3 {
    width: 240px;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 229px;
    padding: 19px 70px;
    background-color: #ffffff;
    border-radius: 30px;
}
.input3:hover {
    cursor: pointer;
}
#letstalk {
    font-size: 16px;
    color: #b28af8;
    border: none;
    background-color: #ffffff;
}
.s3-h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-left: 480px;
}
.s3-h2 {
    width: 852px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 330px;
}

/* section4 */
.s-4 {
    margin-top: 186px;
}
.s4h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
}
.div-wrapper {
    width: 1170px;
    height: 250px;
    background-color: #956ae1;
    display: flex;
    margin-left: 190px;
}
.s4h2 {
    width: 852px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;

    margin-bottom: 62px;
}

.line {
    width: 2px;
    height: 68px;
    margin-top: 91px;
    margin-left: 100px;
    background-color: #ffffff;
}
.s4-p {
    font-size: 90px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 35px;

    margin-left: 130px;
}
.s4p {
    font-size: 22px;
    font-weight: bold;
    margin-left: 150px;
}

.container {
    max-width: 1170px;
    width: 100%;
    background-color: #956ae1;
}

/* section5 */
.s-5 {
    margin-top: 366px;
}
.s5h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-left: 650px;
}
.s5h2 {
    width: 852px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 410px;
    margin-bottom: 62px;
}
.wrapup {
    display: flex;
    margin-bottom: 40px;
}
.icon-1,
.icon-2,
.icon-3,
.icon-4 {
    display: flex;
    width: 800px;
    height: 250px;
    background-color: #956ae1;
    border-radius: 20px;
}
.icon-1,
.icon-3 {
    margin-right: 60px;
    margin-left: 60px;
}
.icon1 {
    margin-top: 70px;
    margin-left: 20px;
}
.iconh3 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 86px;
    margin-bottom: 10px;
    margin-left: 45px;
}
.iconp {
    width: 511px;
    height: 51px;
    margin-left: 45px;
}
.plus {
    width: 70px;
    height: 70px;
    background-color: #cfb3ff;
    margin-top: 13px;
    margin-left: 500px;
    border-radius: 20px 0px;
}
.plus:hover {
    cursor: pointer;
}
.plus1 {
    margin-top: 25px;
    margin-left: 25px;
}
.wrapdown {
    display: flex;
    margin-bottom: 78px;
}

/* section6 */
.s6h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-left: 650px;
}
.s6h2 {
    width: 852px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 410px;
    margin-bottom: 62px;
}
.card-wrapper {
    display: flex;
    margin-bottom: 60px;
}

.card-1 {
    width: 300px;
    height: 350px;
    border-radius: 5%;
    margin-left: 60px;
    background-color: #956ae1;
}
.color1 {
    width: 300px;
    height: 180px;
    background-color: #e2fef0;
    border-radius: 5%;
}
.cardimg1 {
    margin-top: 30px;
    margin-left: 15px;
}
.cardh3 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 45px;
    margin-bottom: 15px;
    margin-left: 46px;
}
.cardp {
    font-size: 16px;
    margin-left: 100px;
}
.color2 {
    width: 300px;
    height: 180px;
    background-color: #aacbfc;
    border-radius: 5%;
}
.cardimg2 {
    margin-top: 30px;
    margin-left: 55px;
}
.color3 {
    width: 300px;
    height: 180px;
    background-color: #ffc7e1;
    border-radius: 5%;
}
.cardimg3 {
    margin-top: 30px;
    margin-left: 65px;
}
.color4 {
    width: 300px;
    height: 180px;
    background-color: #fcffce;
    border-radius: 5%;
}
.cardimg4 {
    margin-top: 30px;
    margin-left: 70px;
}
.chevrondiv {
    display: flex;
    margin-left: 690px;
    margin-bottom: 186px;
}
.s6-chevron-left {
    width: 50px;
    height: 50px;
    background-color: #c4a3fd;
    border-radius: 50%;
    margin-right: 20px;
}
.s6-chevron-right {
    width: 50px;
    height: 50px;
    background-color: #c4a3fd;
    border-radius: 50%;
}
.s6-chevron-left,
.s6-chevron-right:hover {
    cursor: pointer;
}
.s6-chevron {
    color: #ffffff;
    margin-top: 17px;
    margin-left: 19px;
}
/* section7 */
.s7-h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-left: 710px;
}
.s7-h2 {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 62px;
    margin-left: 600px;
}
.card-wrapper2 {
    display: flex;
    margin-bottom: 62px;
}
.s7card {
    width: 300px;
    height: 400px;
    background-color: #956ae1;
    border-radius: 25px;
    margin-left: 60px;
}
.s7p {
    font-size: 16px;
    margin-top: 45px;
    margin-bottom: 10px;
    margin-left: 30px;
}
.s7h2 {
    width: 219px;
    height: 59px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 7px;
    margin-left: 30px;
}
.s7-plus {
    width: 50px;
    height: 50px;
    background-color: #c4a3fd;
    margin-left: 250px;
    border-radius: 10px 0px;
}
.s7plus {
    margin-top: 15px;
    margin-left: 15px;
}
.s7-plus:hover {
    cursor: pointer;
}

/* footer */
footer {
    margin-top: 180px;
}

.footer-s1 {
    display: flex;
}
.footerimg1 {
    margin-top: 120px;
    margin-left: 690px;
}
.footerimg2 {
    margin-top: 134px;
    margin-left: 343px;
}
.footertext1 {
    margin-left: 475px;
}
.footerh2 {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 22px;
    text-align: center;
    /* margin-left: 475px; */
}
.footerp {
    font-size: 16px;
    width: 511px;
    height: 51px;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 100px;
}

.footerinput {
    display: flex;
    width: 667px;
    height: 80px;
    margin-left: 460px;
    margin-bottom: 80px;
    background-color: #c4a3fd;
    border-radius: 40px;
}

#email {
    width: 138px;
    height: 19px;
    font-size: 16px;
    color: #ffffff;
    background-color: #c4a3fd;
    border: none;
    margin-top: 33px;
    margin-left: 38px;
}
.footersubscribe {
    width: 200px;
    height: 60px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 281px;
    border-radius: 30px;
}
#subscribe {
    font-size: 16px;
    color: #b28af8;
    background-color: #ffffff;
    border: none;
    margin-top: 23px;
    margin-left: 58px;
}
.footer-s3 {
    display: flex;
    margin-left: 110px;
}
.footer-s3p {
    width: 381px;
    height: 137px;
    margin-top: 20px;
    font-size: 16px;
}
.company,
.list2,
.contact {
    margin-top: 30px;
    margin-left: 160px;
}
.footer-s3h3 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 25px;
}
.footerli {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 15px;
}
.list2 {
    margin-top: 80px;
}
.footer-s3ul2 {
    width: 370px;
    height: 96px;
    margin-left: 14px;
}
.footerline {
    width: 1300px;
    height: 1px;
    background-color: #ffffff;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 110px;
}
.footerlogos {
    display: flex;
    margin-left: 110px;
}
.footer-logo1 {
    width: 40px;
    height: 40px;
    background-color: #c4a3fd;
    border-radius: 50%;
    margin-right: 15px;
    padding: 10px 14px;
}
.footer-logo2 {
    width: 40px;
    height: 40px;
    background-color: #c4a3fd;
    border-radius: 50%;
    margin-right: 15px;
    padding: 13px 10px;
}
.footer-logo3 {
    width: 40px;
    height: 40px;
    background-color: #c4a3fd;
    border-radius: 50%;
    margin-right: 15px;
    padding: 10px 10px;
}
.footer-logo4 {
    width: 40px;
    height: 40px;
    background-color: #c4a3fd;
    border-radius: 50%;
    padding: 13px 11px;
}
.footer-logo1,
.footer-logo2,
.footer-logo3,
.footer-logo4:hover {
    cursor: pointer;
}
.lastp {
    font-size: 16px;
    margin-top: -30px;
    margin-left: 900px;
}

/* responsive */
@media (max-width: 1064px) {
    .footertext1 {
        width: 700px;
    }
}
@media (max-width: 1033px) {
    .s3-h3 {
        width: 550px;
    }
}
@media (max-width: 946px) {
    .s2h2 {
        width: 400px;
        margin-left: 520px;
    }
    .s7-h2 {
        width: 350px;
    }
}
